<h1>Edit Coupon Details</h1>

<%= form_tag coupons_path, "method"="put" do %>
    <p>label_tag "coupon_code", "Coupon Code" 
    <%= text_field "coupon[coupon_code]", %></p>

    <p>label_tag "store", "Store" 
    <%= text_field "coupon[store]", %></p>

    <%= submit_tag "Update Coupon" %>

<% end -%>
<%= link_to 'Back', coupons_path%>